<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- site metas -->
      <title>News</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="/static/product/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="/static/product/css/style.css">
      <link rel="stylesheet" type="text/css" href="/static/order/order.css">
      <link rel="stylesheet" type="text/css" href="/static/product/css/image.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="/static/product/css/responsive.css">
      <link rel="stylesheet" href="/static/product/css/detail_cycle.css">
      <!-- fevicon -->
      <link rel="icon" href="/static/product/images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="/static/product/css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets --> 
      <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700,800&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="/static/product/css/owl.carousel.min.css">
      <link rel="stylesheet" href="/static/product/css/owl.theme.default.min.css"> <!-- Corrected the spelling here -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   </head>
<body>
<div class="header_section header_bg">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="index.html" class="logo"><img src="/static/product/images/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
             <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="/about_us">About</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="/cycle">Our Cycle</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="/cycle">Shop</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="/news">News</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="/contact">Contact Us</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="/cart">CART</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="/accounts/customer-panel" id="customer-panel-btn">Customer_panel</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" id='logoutLink' onclick="logoutFunc()">logout</a>
          </li>
       </ul>
       <form class="form-inline my-2 my-lg-0">
          <div class="login_menu">
             <ul>
                <li>
                   <input type="text" id="searchInput" placeholder="Search...">
                   <ul id="productsList"></ul>
                </li>
                <li><a href="/accounts/login" id='loginLink'>Login</a></li>
                <li><a href="#"><img src="/static/product/images/trolly-icon.png"></a></li>
             </ul>
          </div>
       </form>
    </div>
    <div id="main">
       <span style="font-size:36px;cursor:pointer; color: #fff" onclick="openNav()"><img src="/static/product/images/toggle-icon.png" style="height: 30px;"></span>
    </div>
 </nav>
          <!-- banner section start -->
          <div class="banner_section layout_padding">
            <div id="main_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-7">
                              <div class="best_text">Best</div>
                              <div class="image_1"><img src="/static/product/images/img-1.png"></div>
                           </div>
                           <div class="col-md-5">
                              <h1 class="banner_taital">New Model Cycle</h1>
                              <p class="banner_text">It is a long established fact that a reader will be distracted by the readable content </p>
                              <div class="contact_bt"><a href="contact.html">Shop Now</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-7">
                              <div class="best_text">Best</div>
                              <div class="image_1"><img src="/static/product/images/img-1.png"></div>
                           </div>
                           <div class="col-md-5">
                              <h1 class="banner_taital">New Model Cycle</h1>
                              <p class="banner_text">It is a long established fact that a reader will be distracted by the readable content </p>
                              <div class="contact_bt"><a href="contact.html">Shop Now</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-7">
                              <div class="best_text">Best</div>
                              <div class="image_1"><img src="/static/product/images/img-1.png"></div>
                           </div>
                           <div class="col-md-5">
                              <h1 class="banner_taital">New Model Cycle</h1>
                              <p class="banner_text">It is a long established fact that a reader will be distracted by the readable content </p>
                              <div class="contact_bt"><a href="contact.html">Shop Now</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i>
                </a>
                <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                <i class="fa fa-angle-right"></i>
                </a>
             </div>
          </div>
          <!-- banner section end -->
       </div>
   <section class="h-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-10 col-xl-8">
          <div class="card" style="border-radius: 10px;">
            <div class="card-header px-4 py-5">
              <h5 class="text-muted mb-0" id="username">Thanks for your Order, <span style="color: #a8729a;">Anna</span>!</h5>
            </div>
            <div class="card-body p-4">
              <div class="d-flex justify-content-between pt-2">
                <p class="fw-bold mb-0">Order Details</p>
                <p class="text-muted mb-0" id="total-price"><span class="fw-bold me-4">Total</span> $898.00</p>
              </div>
  
              <div class="d-flex justify-content-between pt-2">
                <p class="text-muted mb-0" id="created-at"><span class="fw-bold me-4">Created at </span> ?</p>
                <p class="text-muted mb-0" id="Paid"><span class="fw-bold me-4">paid: </span> ?</p>
              </div>
              <div class="d-flex justify-content-between mb-5">
                <p class="text-muted mb-0" id="Coupon"><span class="fw-bold me-4">Coupon:</span> ?</p>
              </div>
              <div class="d-flex justify-content-between mb-5">
                <p class="text-muted mb-0" id="province-detail"><span class="fw-bold me-4">Province:</span> ?</p> <!-- Corrected the label -->
                <p class="text-muted mb-0" id="city-detail"><span class="fw-bold me-4">City:</span> ?</p> <!-- Corrected the label -->
                <p class="text-muted mb-0" id="detailed"><span class="fw-bold me-4">Address Detail:</span> ?</p> <!-- Corrected the label -->
                <p class="text-muted mb-0" id="postal-detail"><span class="fw-bold me-4">Postal Code:</span> ?</p> <!-- Corrected the label -->
              </div>

              <div class="d-flex justify-content-between mb-5">
                <form class="user" id="myForm">
                  <div class="col-md-12">
                    <select class="form-control form-control-user mb-3" id="address-dropdown">
                        <option value="">Select Address</option>
                        <!-- Options will be dynamically populated via JavaScript -->
                    </select>
                  </div>
                  <div class="row mb-3">
                      <div class="col-md-12">
                          <input class="form-control form-control-user mb-3" placeholder="Province" type="text" name="province" id="province"> 
                          <div id="provinceError" style="color: red;"></div>
                      </div>
                      <div class="col-md-12">
                          <input class="form-control form-control-user mb-3" placeholder="City" type="text" name="city" id="city"> 
                          <div id="cityError" style="color: red;"></div>
                      </div>
                      <div class="col-md-12">
                          <input class="form-control form-control-user mb-3" placeholder="Detail address" type="text" name="detailed_address" id="detail"> <!-- Corrected the label -->
                          <div id="detailError" style="color: red;"></div>
                      </div>
                      <div class="col-md-12">
                          <input class="form-control form-control-user mb-3" placeholder="Postal code" type="number" name="postal_code" id="post_code"> 
                          <div id="postalError" style="color: red;"></div>
                      </div>
                      <button id="saveAddressBtn" class="btn btn-primary d-block btn-user w-100" type="submit" onclick="saveAddress()">Save address</button>
                  </div>
              </form>
              <div id="response"></div>
              </div>
            </div>
            <div class="card-footer border-0 px-4 py-5"
              style="background-color: #a8729a; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
              <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Total
                paid: <span class="h2 mb-0 ms-2" id="total-paid">$1040</span></h5>
                <a href="/accounts/customer-panel" class="btn btn-success btn-lg" onclick="return validateForm()">Pay</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="/static/product/js/jquery.min.js"></script>
  <script src="/static/product/js/popper.min.js"></script>
  <script src="/static/product/js/bootstrap.bundle.min.js"></script>
  <script src="/static/product/js/jquery-3.0.0.min.js"></script>
  <script src="/static/product/js/plugin.js"></script>
  <!-- sidebar -->
  <script src="/static/product/js/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="/static/product/js/custom.js"></script>
  <!-- javascript --> 
  <script src="/static/product/js/owl.carousel.js"></script>
  <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
  <script src="/static/script/about.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/static/script/detail_cart.js"></script>
</body>
</html>
