{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'profile/profile.css' %}">
          <!-- basic -->
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <!-- mobile metas -->
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="viewport" content="initial-scale=1, maximum-scale=1">
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <!-- site metas -->
          <title>News</title>
          <meta name="keywords" content="">
          <meta name="description" content="">
          <meta name="author" content="">
          <!-- bootstrap css -->
          <link rel="stylesheet" type="text/css" href="{% static 'product/css/bootstrap.min.css' %}">
          <!-- style css -->
          <link rel="stylesheet" type="text/css" href="{% static 'product/css/style.css' %}">
          <link rel="stylesheet" type="text/css" href="{% static 'product/css/image.css' %}">
          <!-- Responsive-->
          <link rel="stylesheet" href="{% static 'product/css/responsive.css' %}">
          <link rel="stylesheet" href="{% static 'product/css/detail_cycle.css' %}">
          <!-- fevicon -->
          <link rel="icon" href="{% static 'product/images/fevicon.png' %}" type="image/gif" />
          <!-- Scrollbar Custom CSS -->
          <link rel="stylesheet" href="{% static 'product/css/jquery.mCustomScrollbar.min.css' %}">
          <!-- Tweaks for older IEs-->
          <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
          <!-- owl stylesheets --> 
          <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700,800&display=swap" rel="stylesheet">
          <link rel="stylesheet" href="{% static 'product/css/owl.carousel.min.css' %}">
          <link rel="stylesoeet" href="{% static 'product/css/owl.theme.default.min.css' %}">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                <img src="{% static 'product/images/logo.png' %}">
            </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link active" href={% url 'customer_panel' %}><span>dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link" href={% url 'profile' %}><span>profile</span></a></li>
                    <li class="nav-item"><a class="nav-link" href={% url 'order_history' %}><span>orders</span></a></li>
                    <li class="nav-item"><a class="nav-link" href={% url "show_address" %}><span>Address</span></a></li>
                    <li class="nav-item"><a class="nav-link" href={% url "cycle" %}><span>Shop</span></a></li>
                    <li class="nav-item"></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ..."><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                        </form>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="me-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="d-none d-lg-inline me-2 text-gray-600 small">Valerie Luna</span><img class="border rounded-circle img-profile" src="assets/img/avatars/avatar1.jpeg"></a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a class="dropdown-item" href="#"><i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profile</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container">
                    <link rel="stylesheet" href="{% static 'profile/profile.css' %}">
                    <div class="main-body">
                            <body>
                              <div class="container">
                                <h2>Product List</h2>
                                <table class="table table-striped">
                                <thead> 
                                    <tr>
                                    <th>province</th>
                                    <th>city</th>
                                    <th>address detail</th>
                                    <th>postal code</th>
                                    <th>edit</th>
                                    </tr>
                                </thead>
                                <tbody id="cart-items">
                                </tbody>
                                </table>
                              </div>
                              <div>
                                <a href="add_address" class="btn btn-primary">add address </a>
                              </div>
                            <script>
                              document.addEventListener('DOMContentLoaded', function() {
                                fetch('/accounts/api/address/',{
                                    method: 'GET',
                                    headers: {
                                        'Authorization': 'JWT ' + localStorage.getItem('access_token'),
                                        'Content-Type': 'application/json',
                                    },
                                })
                                .then(response => response.json())
                                .then(data => {
                                  data.queryset.forEach(function(product) {
                                            let row = document.createElement('tr');
                                            row.innerHTML = '<td>' +product.province +'</td>' +
                                                            '<td>' + product.city + '</td>' +
                                                            '<td>' + product.detailed_address + '</td>' +
                                                            '<td>' + product.postal_code + '</td>'+
                                                            '<td><a href="edit_address/'+product.id+' '+'" class="btn btn-primary">edit</a></td>' ;
                                            document.getElementById('cart-items').appendChild(row);
                                        });
                                    });
                              
                            });
                            </script>
                          </body>
