{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- site metas -->
      <title>News</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="{% static 'product/css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="{% static 'product/css/style.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'product/css/image.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'product/css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'product/images/fevicon.png' %}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'product/css/jquery.mCustomScrollbar.min.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets --> 
      <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700,800&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'product/css/owl.carousel.min.css' %}">
      <link rel="stylesoeet" href="{% static 'product/css/owl.theme.default.min.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   </head>
   <body>
      {% if messages %}
      {% for msg in messages %}
         <p class="alert alert-{{msg.tags}}">{{msg}}</p>
      {% endfor %}
      {% endif %}
      <!-- header section start -->
      <div class="header_section header_bg">
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="index.html" class="logo"><img src="{% static 'product/images/logo.png' %}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                     <a class="nav-link" href={% url "index" %}>Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href={% url "about_us" %}>About</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href={% url "cycle" %}>Our Cycle</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="shop.html">Shop</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href={% url "news" %}>News</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href={% url "contact" %}>Contact Us</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href={% url "cart" %}>CART {{ cart|length }}</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href={% url "customer_panel" %} id="customer-panel-btn">Customer_panel</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" id='logoutLink' onclick="logoutFunc()">logout</a>
                  </li>
               </ul>
               <form class="form-inline my-2 my-lg-0">
                  <div class="login_menu">
                     <ul>
                        <li>
                           <input type="text" id="searchInput" placeholder="Search...">
                           <ul id="productsList"></ul>
                        </li>
                        <li><a href={% url "login" %} id='loginLink'>Login</a></li>
                        <li><a href="#"><img src="{% static 'product/images/trolly-icon.png' %}"></a></li>
                     </ul>
                  </div>
               </form>
            </div>
            <div id="main">
               <span style="font-size:36px;cursor:pointer; color: #fff" onclick="openNav()"><img src="{% static 'product/images/toggle-icon.png' %}" style="height: 30px;"></span>
            </div>
         </nav>
         <!-- banner section start -->
         <div class="banner_section layout_padding">
            <div id="main_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-7">
                              <div class="best_text">Best</div>
                              <div class="image_1"><img src="{% static 'product/images/img-1.png' %}"></div>
                           </div>
                           <div class="col-md-5">
                              <h1 class="banner_taital">New Model Cycle</h1>
                              <p class="banner_text">It is a long established fact that a reader will be distracted by the readable content </p>
                              <div class="contact_bt"><a href="contact.html">Shop Now</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-7">
                              <div class="best_text">Best</div>
                              <div class="image_1"><img src="{% static 'product/images/img-1.png' %}"></div>
                           </div>
                           <div class="col-md-5">
                              <h1 class="banner_taital">New Model Cycle</h1>
                              <p class="banner_text">It is a long established fact that a reader will be distracted by the readable content </p>
                              <div class="contact_bt"><a href="contact.html">Shop Now</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-7">
                              <div class="best_text">Best</div>
                              <div class="image_1"><img src="{% static 'product/images/img-1.png' %}"></div>
                           </div>
                           <div class="col-md-5">
                              <h1 class="banner_taital">New Model Cycle</h1>
                              <p class="banner_text">It is a long established fact that a reader will be distracted by the readable content </p>
                              <div class="contact_bt"><a href="contact.html">Shop Now</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
         {% block content %}
         {% endblock content %}
         <script>
            document.addEventListener("DOMContentLoaded", function() {
                  var loginLink = document.getElementById('loginLink');
                  var logoutLink = document.getElementById('logoutLink');
      
                  // Check if access token exists in localStorage
                  if (localStorage.getItem('access_token')) {
                     // Access token exists, hide login link and show logout link
                     loginLink.style.display = 'none';
                     logoutLink.style.display = 'block';
                  } else {
                     // Access token doesn't exist, show login link and hide logout link
                     loginLink.style.display = 'block';
                     logoutLink.style.display = 'none';
                  }
            });
      
            // Function to logout and remove access token from localStorage
            function logoutFunc() {
                  localStorage.removeItem("access_token");
                  window.location.reload(); // Reload the page to reflect changes
            }
        // Function to fetch data from the REST API based on search term and filter
         // Function to fetch data from the REST API based on search term
         async function fetchProducts(searchTerm) {
            searchTerm=document.getElementById('searchInput').value
            console.log(searchTerm)
            const url = `/api/search?search=${searchTerm}`;
            const response = await fetch(url);
            return response.json();
        }

        // Function to update the UI with the fetched products
        function updateUI(products) {
            const productsList = document.getElementById('productsList');
            productsList.innerHTML = '';

            products.forEach(product => {
                const listItem = document.createElement('li');
                listItem.textContent = product.name; // Adjust as per your API response structure
                productsList.appendChild(listItem);
            });
        }

        // Event listener for search input
        document.getElementById('searchInput').addEventListener('input', function() {
            const searchTerm = this.value.trim();
            fetchProducts(searchTerm)
                .then(products => updateUI(products))
                .catch(error => console.error('Error fetching products:', error));
        });

        // Initial fetch on page load
        window.onload = function() {
            fetchProducts('')
                .then(products => updateUI(products))
                .catch(error => console.error('Error fetching products:', error));
        };
         </script>
